{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% set active_page = "home" %}

{% block content %}
<!--Main container-->
<div class="container">

    <div class="container mt-5">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>Contributions Welcome</h2>
                <p>Awesome! You want to get Your hands dirty and get involved. Yes, let's do that. There are so
                many things that still can be improved. </p>
                <p>This is the repository on GitHub: <a href="https://github.com/AndreasEK/allmysubs" target="_blank">allmysubs on github</a></p>
                <p>New, short term, ideas will end up in the issue tracker. On the long run, I could imagine apps that
                "fix" the notification system for YouTube from the viewers perspective, and also a web application
                with more features. Features that I would love to see include: </p>
                <ul>
                    <li>Add videos to my "Watch Later" list</li>
                    <li>Better performance of the web app</li>
                    <li>Check my subscriptions for inactive channels</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}