{% extends "base.html" %}
{% block title %}All My Subscriptions. All Videos.{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% set active_page = "home" %}

{% block content %}
<!--Main container-->
<div class="container">

    {% if message is defined %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong> Thanks for using allmysubs.video.
    </div>
    {% endif %}


    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-7 mb-4">

            <!--Featured image -->
            <!--div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
                <div class="mask rgba-white-light"></div>
            </div-->
            <div class="z-depth-1-half embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wnLl_VnNleU"></iframe>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4">

            <h1 class="h1-responsive">allmysubs</h1>
            <p class="lead">Stop YouTube messing with Your sub box right now! allmysubs.video
                will put control back into Your hands. </p>
            <hr class="my-2">
            <p>allmysubs.video helps You stay up to date with the channels that You have subscribed
                to.
                All channels. All videos from the last 7 days. No exceptions.
            </p>
            <a class="btn btn-cyan btn-lg waves-effect waves-light" role="subs" href="/subs">ALL MY SUBS</a>

        </div>
        <!--Grid column-->

    </div>

    <!--Grid row-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- allmysubs homepage -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6264717904787140"
         data-ad-slot="3049807235"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


    <div class="container mt-4">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Support</h2>
                <p>The easiest way of supporting allmysubs is leaving feedback. </p>
                <p>In addition, you are welcome to take a look at my channel (yes, I'm a creator, too),
                    support the Youlius-Award (an award for small YouTuber Creators that I started), or even send
                    some money.</p>
                <p><a class="btn btn-cyan  waves-effect waves-light" href="/support" role="button">Support &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Can I Trust AllMySubs?</h2>
                <p>Yes. And this is why: allmysubs only require reading access to Your YouTube profile, in order
                    to find out, which channels you have subscribed to. What happens with this data. Not much,
                    nothing
                    is stored.
                    If you can read code, everything is open and available, so you can check for yourself, or let
                    others
                    check the code for you. </p>
                <p><a class="btn btn-cyan waves-effect waves-light" href="/trust" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Contribute</h2>
                <p>A helping hand is much appreciated. The application is based on Flask
                    and runs in the Google Cloud. It's very simple at the moment, but of course, there are many
                    ideas,
                    what
                    can be done next. From adding videos to the "Watch Later" playlist and better scaling to mobile
                    apps
                    that truly notify you of all your subs' new videos.</p>
                <p><a class="btn btn-cyan waves-effect waves-light" href="/contribute" role="button">Contribute &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>The YouTube Algorithm – Reasoning For AllMySubs.video</h2>
                <p>Many myths and urban legends exist regarding the YouTube Algorithm. From a higher perspective
                    it's
                    kind of simple, and makes a lot of sense for YouTube as a company. YouTube wants You to watch
                    videos. The longer the better. Because, if you watch more, they can show more ads. It's as
                    simple as
                    that. YouTube doesn't really care, if these are good videos, or videos that you're genuinely
                    interested in. Any video will do, as long as it is monetized. But let's break it down.</p>
                <h3>Optimizing for Watchtime</h3>
                <p>The metric that YouTube maximises is called 'Watchtime'. What's that? It's all in the name,
                    really.
                    YouTube is counting how many minutes (seconds, hours) You are watching a video. And not just a
                    single video, but how long Your session on YouTube lasts. Because, most of the time, you will
                    watch
                    more than one video. So, at least that's the current understanding, YouTube also recognizes the
                    video that a session started with, and the video that ended a session. That's why YouTube is
                    recommending videos to You after You finished watching one, sometimes even playing the next one
                    automatically. </p>
                <p>So, the more You watch, the better for YouTube. And YouTube as a platform does everything
                    imaginable
                    to increase the total watchime over all viewers. Globally.</p>
                <h3>Notifications</h3>
                <p>One extremely powerful mechanism of increasing Watchtime are notifications. You don't want to
                    miss
                    any video, that might be interesting to You, do You? That's why there are so many notification
                    mechanisms. You can receive emails about new videos, you receive notifications on the web page,
                    and
                    especially
                    with the mobile app on Your smartphone. YouTube has to balance a lot of interests here:</p>
                <ul>
                    <li>There's this list of channels that You have subscribed to. It's fair to assume, that you are
                        interested in new videos by any of those channels
                    </li>
                    <li>If you have subscribed to a lot of channels, this might lead to many notifications. Also,
                        channels tend to publish videos around the same time, thanks to the scheduling feature. So
                        there's a fair probability of a couple videos going live at exactly the same time. This
                        could
                        lead to notifications that are considered spam by the users.
                    </li>
                    <li>Once upon a time, you were interested in a channel, but either Your interests or the channel
                        has
                        changed, yet you have not unsubscribed. But also, you have not really watched any of the
                        videos
                        of that channel recently. Do you still want to get the notification for new videos?
                    </li>
                    <li>There might be videos, that you would like but don't even know about yet. How cool would it
                        be,
                        if YouTube could predict what You will love, before You even know that channel or video
                        exists.
                        Well, YouTube tries, but we'll cover that later
                    </li>
                </ul>
                <p>After all, the most simple approach of showing all notifications for each and every video, might
                    not
                    be the best solution for YouTube. It does want to maximise the Watchtime, remember? And if a
                    notification spam leads to a situation, which makes You disabling <strong>all YouTube
                        notifications</strong>, You can imagine that YouTube probably would not like to get into
                    that
                    situation.</p>
                <p>In summary, notifications are a great tool for YouTube to get you onto the platform and start a
                    video
                    watching session. And YouTube happily ignores your preferences as a user, but uses notification
                    to
                    maximise their key metric: Watchtime</p>
                <h3>Demonetization</h3>
                <p>Actually, YouTube want's to maximise another metric and that's revenue. It's a business and it
                    has
                    every right to do so. YouTube is concentrating on Watchtime, because the calculation is simple:
                    the
                    higher the watchtime, the more ads can be shown to the viewers.</p>
                <p>To make things a little more complicated, there are videos that advertisers like, and videos that
                    they don't like. There are a plethora of reasons why this is so, but usually controversal topics
                    are
                    considered not ad-friendly: You don't want your precious ad run before or during a video that is
                    transporting negative emotions, I guess. Recently, YouTube has taken measures to increase the
                    "ad
                    friendliness" of the
                    videos:
                <ol>
                    <li>Channels are required to accumulate 4000h or watchtime in the last 365 days and 1000
                        subscribers
                        in order to be eligible of showing ads on their Content. They can apply to be part of the
                        Partner
                        Program.
                    </li>
                    <li>Videos that are published by a Partner Program channel can still considered as ad
                        unfriendly.
                        Those videos are said to cover controversial topics. These videos are called "demonetized".
                    </li>
                </ol>
                </p>
                <p>Another effect of the optimization for showing as many ad-friendly videos as possible is that
                    YouTube
                    treats unwanted videos specially: videos that cannot be monetized might not rank as high in
                    search
                    results, as they could, they might not be considered for the trends or the homepage,
                    notifications
                    might be surpressed, or they don't show up at all in the subscription feed.</p>
                <p>All in all this is a highly debatable topic. The criteria that lead to demonetization are obscure
                    and unclear, the algorithm behind it, nobody can review the uploaded content manually, still has
                    to
                    learn a lot. But what we know is this: YouTube want's to increase Watchtime. And from the total
                    amount of Watchtime, the more videos are monetized and can run ads, the better.</p>
                <h3>The Triangle of Viewers, Creators and Advertisers</h3>
                <p>YouTube needs to carefully balance three contradicting expectations:
                <ol>
                    <li>Viewers want to watch videos they like and are interested in.</li>
                    <li>Creators want to publish the content they want to publish and depend on the ad generated
                        income.
                    </li>
                    <li>Advertisers want to run ads on videos that will help them achieve their business goals with
                        the ads.
                    </li>
                </ol>
                </p>
                <p>It's pretty clear to see, that YouTube as a platform can only grow and continue to be a nice
                    place
                    (or get back to that actually), when all three groups have their needs satisfied, at least to a
                    certain degree. With the recent changes regarding the YouTube Partner
                    Program and demonatization in place, it might feel to one group that the one of the others now
                    has
                    larger advantages. Advertisers probably demand even stricter controls where their ads run,
                    Creators
                    would appreciate
                    more freedem to express themselves and a reliable revenue stream from ads on videos, and Viewers
                    expect a
                    predictable platform to discover content they love.</p>
                <p>And this is exaclty the reason why allmysubs.video was born. Maybe YouTube is working well as a
                    platform
                    for viewers, maybe it is suggesting videos that you will like in the future, but don't know
                    about
                    yet. But,
                    nobody knows for sure. But with allmysubs.video, we can always check and be sure. </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}