<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Uploads from allmysubs</title>
</head>
<body>

{% for video in videos %}
<div><a href="https://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}"><img src="{{ video.snippet.thumbnails.medium.url }}"/> {{ video.snippet.title }}</a>, published on
{{ video.snippet.publishedAt }} by <a href="https://www.youtube.com/channel/{{ video.snippet.channelId }}">{{ video.snippet.channelTitle }}</a></div>
{% endfor %}
</body>
</html>